/* your styles go here */

.sidebar-heading {
  font-size: 40px;
}

.sidebar-content p {
  color: #111;
}

img.sidebar-image {
  margin-bottom: 30px;
  width: 100%;
}

.sidebar-p, .sidebar-menu {
  font-size: 20px;
}

.box-masonry-hover-text-header, .box-masonry-desription {
  cursor: pointer;
}

.content-column-content {
  font-size: 20px;
}
.content-column-content h1 {
  margin-top: 30px;
}

img.knolling {
  width: 100%;
  margin: 30px 0;
}

#mce-responses {
  margin-bottom: 20px;
}

p a {
  text-decoration: underline
}
